$color: #ffddcc;
$secundariosecundario: black;
$ancho :17em;
$color1 : bisque;
$medidaminima: 1em;

body {
    color: black;
    background-color: white;
}

.navbar {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.50em;
    background-color: transparent !important;

    .navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }

    a {
        color: black;
        margin-right: $medidaminima;
        font-size: $medidaminima;
    }

    .nombre_logo {
        font-family: 'Poppins', sans-serif;
        font-size: 1.6em;
        opacity: 0.8;
        font-weight: bold;
        margin-left: 0.4em;
    }
}

.banner {
    background-image: url(../img/imgenfondobanner.jpg);
    background-size: cover;
    background-position: center;
    padding: 11em 0;
    font-weight: lighter;
    margin: 1.8em;

    .banner_titulo {
        margin: 0;
        letter-spacing: 0.1em;
        font-size: 3.1em;
        margin-top: 0.2em;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: black;
        opacity: 0.8;
        padding: 0.4em;
    }

    .banner_subtitulo {
        margin: 0;
        margin-bottom: 0.3em;
        letter-spacing: 0.1em;
        font-size: 2em;
        font-family: 'Open Sans Condensed', sans-serif;
        opacity: 0.8;
    }

    .banner_button {
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 0.1em;
        font-size: 1.5em;
        border: none;
        width: 8em;
        border-radius: $medidaminima;
        background-color: $color;
        margin-bottom: $medidaminima;
        color: #000;
        border: none;
        transition: all 0.3s ease 0s;
        outline: none;
        margin-top: 2em;
    }

    .banner_button:hover {
        color: $color;
        transform: translateY(-7px);
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }
}

.titulosPrincipales {
    background-color: white;
    text-align: center;
}

.tituloportfolio {
    padding: 0em;
    background-color: white;
    display: inline-block;
    border-radius: 1em;
}

span {
    img {
        width: 22em;
        height: 15em;
    }

    img:hover {
        filter: opacity(.5);
    }

}

.iconoservicios {
    font-size: 5em;
    color: sandybrown;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.imagenHabilidad {
    padding: 1.2em;
    width: 15em;
    height: 13em;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
    box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
    transition-property: background-color, border-radius;
    transition-duration: 1s;
}

.habilidades1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    opacity: 0.7;
    font-weight: bold;
}

.imagenHabilidad:hover {
    border-radius: 75px;
    background-color: gray;
}

.habilidades {
    font-size: 2.6em;
    margin: 0%;
    margin-top: 1em;
    color: black !important;
    font-family: 'Poppins', sans-serif;
    opacity: 0.8;
    font-weight: lighter;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.img-fluid {
    margin-top: 5em;
}

footer {
    float: none;
    font-size: 0.8em;
    text-align: center;
    align-items: center;
    background: papayawhip;
    color: black;
    background-color: white;
    width: 100%;
    height: 5em;
    bottom: 0;
    left: 0;

    .iconofooter {
        font-size: 2em;
        color: gray;
        margin-top: 0em;
    }
}

.form {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4em;

    .formdatos {
        font-size: 1.4em;
        font-family: 'Poppins', sans-serif;
        opacity: 0.7;
    }

    h2 {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 4em;
        opacity: 0.8;
    }

    .botoncontacto {
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 0.1em;
        font-size: 1em;
        border: none;
        width: 8em;
        border-radius: 1em;
        background-color: $color;
        margin-bottom: 1em;
        color: #000;
        border: none;
        transition: all 0.3s ease 0s;
        outline: none;
        margin-top: 1em;
    }
}

.texto_quiensoy {
    text-align: center;
    opacity: 0.8;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 3em;
}

.descripcion_quiensoy {

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
    color: black;
}

.proyecto {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: lighter;
    margin-top: 1em;
    color: black;
    opacity: 0.8;
}

hr {
    color: black;
    width: 10em;
    height: 1em;
    margin-bottom: 2em;
}

.letrav {
    color: $color;
    font-weight: bold;
}

@media screen and (max-width: 800px) {

    body {
        margin: 0;
    }

    .banner {
        margin: 0%;
        font-size: 0.6em;
        padding: em 0;
        background-position: left;

        .banner_titulo {
            font-size: 6em;
            background-color: white;
            opacity: 0.7;
        }

        .banner_subtitulo {
            background-color: white;
            opacity: 0.7;
        }

        .banner_button {
            margin-top: 1em;
            font-size: 2em;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }

    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }

}