<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Keywords" lang="es"
        content="diseño web, diseno web, portafolio web, portfolio, website design, responsive design, frontend, diseño de interfaces, diseño UI, diseño UX, maquetación web, CSS3, FIGMA, JAVASCRIPT" />
    <meta name="description" lang="es"
        content="Evelyn Bonato - Diseñadora web, conocimientos en Html, css, javascript, sass, figma, diseño de interfaces interactivas.  Responsabilidad y  formación constante." />
    <title>Evelyn - Diseñadora Web</title>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/41f3ad639c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Recursive&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <a class="navbar-brand" href="./../index.html">
            <h2 class="nombre_logo"> e<span class="letrav">v</span>elyn<span class="letrav">.</span></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li id="home" class="nav-item">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li id="sobre_mi" class="nav-item">
                    <a class="nav-item nav-link mr-md-3 letra" href="./sobremi.html">Sobre mí</a>
                </li>
                <li id="habilidades" class="nav-item">
                    <a class="nav-item nav-link mr-md-3 letra" href="./habilidades.html">Habilidades</a>
                </li>
                <li id="mis_trabajos" class="nav-item active">
                    <a class="nav-item nav-link mr-md-3 letra" href="./mistrabajos.html">Mis trabajos</a>
                </li>
                <li id="contacto" class="nav-item">
                    <a class="nav-item nav-link mr-md-3 letra" href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
        <a class="d-none d-xl-block" href="https://www.behance.net/" target="_blank"><i class="fab fa-behance"></i></a>
        <a class="d-none d-xl-block" href="https://www.instagram.com/evebonato/" target="_blank"><i
                class="fa fa-instagram"></i></a>
        <a class="d-none d-xl-block" href="https://github.com/evebonato" target="_blank"><i
                class="fa fa-github"></i></a>
        <a class="d-none d-xl-block" href="https://www.linkedin.com/in/evelyn-bonato-4246042a/" target="_blank"><i
                class="fa fa-linkedin"></i></a>
    </nav>

    <div class="section-title">
        <h2 class="text-center habilidades">Portafolio</h2>
        <hr />
    </div>
    <div class="gallery mr-5 ml-5 imagen1" id="gallery">
        <div class="mb-3 pics animation all 2 imagen1 imagentrabajos">
            <img class="img-fluid" src="../img/proyecto12.jpg" />
            <div class="textoimg">
                <p> <strong>Explore Travel Experience</strong> <br> Diseño de interfaz, propuestas de wireframes y
                    prototipos interactivos.</p>

            </div>
        </div>
        <div class="mb-3 pics animation all 1 imagentrabajos">
            <img class="img-fluid" src="../img/proyecto5.jpg" />
            <div class="textoimg">
                <p> <strong>COCO</strong> <br> Gráfica para marca de ropa, se trabajó con imágenes
                    presentadas
                    por el cliente y se complementó con la elección de paleta de colores y tipografía.</p>
            </div>
        </div>
        <br>
        <div class="mb-3 pics animation all 1 imagentrabajos">

            <img class="img-fluid" src="../img/proyecto151.jpg" alt="Card image cap" />
            <div class="textoimg">
                <p> <strong>ORGANIKO</strong> <br> Diseño de interfaz y desarrollo de landing page.</p>
            </div>
        </div>
        <div class="mb-3 pics animation all 2 imagentrabajos">
            <img class="img-fluid" src="../img/proyecto14.jpg" alt="Card image cap" />
            <div class="textoimg">
                <p> <strong>Banner</strong> <br> Diseño de banner para evento social.</p>
            </div>
        </div>
        <div class="mb-3 pics animation all 2 imagentrabajos">
            <img class="img-fluid" src="../img/proyecto13.jpg" alt="Card image cap" />
            <div class="textoimg">
                <p> <strong>Fashion Shopping</strong> <br> Diseño de página web, se trabajó en el
                    diseño de interfaz y experiencia de usuario.</p>
            </div>

        </div>
        <div class="mb-3 pics animation all 1 imagentrabajos">
            <img class="img-fluid" src="../img/proyecto7.jpg" alt="Card image cap" />
            <div class="textoimg">
                <p> <strong>SUSHI PARLOUR</strong> <br> Diseño de marca, landing page y posicionamiento SEO.</p>
            </div>
        </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-white text-black-100">
        <div class="container text-center">
            <large> © 2020 Hecho por Evelyn<i class="fas fa-heart"></i></large>
        </div>
    </footer>

</body>

</html>