<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Keywords" lang="es"
        content="diseño web, diseno web, portafolio web, portfolio, website design, responsive design, frontend, diseño de interfaces, diseño UI, diseño UX, maquetacion web, CSS3, FIGMA, JAVASCRIPT" />
    <meta name="description" lang="es"
        content="Evelyn Bonato - Diseñadora web, conocimientos en Html, css, javascript, sass, figma, diseño de interfaces interactivas.  Responsabilidad y formacion constante." />
    <title>Evelyn - Diseñadora Web</title>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/41f3ad639c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Recursive&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <h2 class="nombre_logo"> e<span class="letrav">v</span>elyn<span class="letrav">.</span></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link mr-md-3 letra" href="./sobremi.html">Sobre mí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link mr-md-3 letra" href="./habilidades.html">Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link mr-md-3 letra" href="./mistrabajos.html">Mis trabajos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link mr-md-3 letra" href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
        <a class="d-none d-md-block" href="#"><i class="fab fa-behance"></i></a>
        <a class="d-none d-md-block" href="#"><i class="fa fa-instagram"></i></a>
        <a class="d-none d-md-block" href="#"><i class="fa fa-github"></i></a>
        <a class="d-none d-md-block" href="#"><i class="fa fa-linkedin"></i></a>
    </nav>

    <div class="section-title">
        <h2 class="text-center habilidades">Portfolio</h2>
        <hr />
    </div>

    <div class="gallery mr-5 ml-5 imagen1" id="gallery">
        <div class="mb-3 pics animation all 2 imagen1">
            <img class="img-fluid imagen1" src="../img/proyecto12.jpg" alt="Card image cap" />
        </div>

        <div class="mb-3 pics animation all 1">
            <img class="img-fluid imagen2" src="../img/proyecto5.jpg" alt="Card image cap" />
        </div>

        <div class="mb-3 pics animation all 1">
            <img class="img-fluid" src="../img/proyecto4.jpg" alt="Card image cap" />
        </div>

        <div class="mb-3 pics animation all 2">
            <img class="img-fluid" src="../img/proyecto8.jpg" alt="Card image cap" />
        </div>

        <div class="mb-3 pics animation all 2">
            <img class="img-fluid" src="../img/proyecto6.jpg" alt="Card image cap" />
        </div>

        <div class="mb-3 pics animation all 1">
            <img class="img-fluid" src="../img/proyecto7.jpg" alt="Card image cap" />
        </div>
    </div>

    <footer class="mt-5">
        <div class="row">
            <div class="footer-copyright text-center py-3 col-lg-12 col-md-12">
                © 2020 Hecho por Evelyn <i class="fas fa-heart"></i>
            </div>
        </div>
    </footer>
</body>

</html>